/* ---- reset ---- */ 

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@300;900&display=swap');
*{
    font-family: Orbitron, sans-serif;
    color: white;
    box-sizing:border-box;
    text-decoration: none;
}

body{ 
    margin:0; 
    font:normal 75% Arial, Helvetica, sans-serif; 
    background-color:  #070b2f
};

canvas{ 
    display: block; 
    vertical-align: bottom;
}

/* ---- particles.js container ---- */ 
 
#particles-js{ 
    position:relative; 
    width: 100%; 
    height: 100vh; 
    background-color: #070b2f;
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: 1; /* place it behind other divs*/
} 

 /* ---- stats.js ---- */ 
.count-particles{
    background: #000022; 
    position: absolute; 
    top: 48px; 
    left: 0; 
    width: 80px; 
    color: #13E8E9; 
    font-size: .8em; 
    text-align: left;
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
} 
/* .js-count-particles{ 
    font-size: 1.1em;
} 

#stats, .count-particles{ 
    -webkit-user-select: none; 
    margin-top: 5px; 
    margin-left: 5px; 
} 

#stats{
    border-radius: 3px 3px 0 0; 
    overflow: hidden; 
} 
 
 .count-particles{ border-radius: 0 0 3px 3px; } */

/* styling for all overlay summaries*/
.overlay-summary{
    position: absolute;
    top:0;
    left: 0;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: -1;
    opacity: 0;
    overflow: auto;

}
/* overlay summary close button styling */
.overlay-summary .close-btn{
    position: absolute;
    top:2%;
    left: 4%;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 3em;
}

/* overlay summary text styling */
.overlay-summary p{
    padding: 10%;
    color: #f8ff79;
    font-weight: 200;
    font-size: 1em;
}

.contact ion-icon:hover{
    color: white;
    filter: drop-shadow(0 0 10px white);

}

.class-7 text{
    visibility: hidden;
    cursor: pointer;
    transition-duration: 0.5s;
}

.class-7 text:hover{
    visibility: visible;
    cursor: pointer;

}

.img-area{
    width: 50vw;
}
img{
    width: 50%; 
}
.carousel{
    z-index: inherit;
}
.carousel {
    height: 100vh;
    perspective: 30vw;
}
  
.carousel .carousel-item {
width: 640px;
height: 400px;
}




/* slideshow container */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

/* hide the images by default */
.mySlides{
  display: none;
  margin-top: 10%;
}

/* next & prev buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: purple;
  font-weight: 600;
  font-size: 20%;
  padding: 8px 12px;
  position: absolute;
  bottom: 6%;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #ff00bf;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 12px;
    position: absolute;
    border-radius: 10%;
    top: 0;
}

.github{
    position: absolute;
    bottom: 0;
    left:0;
    font-size: 5vw;
    padding:2%;
    color: palevioletred;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.button{
    background-color: pink;
    color:purple;
    width: auto;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.6s;
}
.button:hover{
    background-color: purple;
    color: pink;
    transition-duration: 0.6s;
}
.button{
    font-size: medium;
    transition-duration: 0.6s;
}

svg{
    position: absolute;
    display: block;
    bottom: 0; 
    background-color: transparent;
}

.cls-12:hover{
    fill: #1e1d53; 
    cursor: pointer;
    transition-duration: 0.6s;
}
.hair{
    transition-duration: 0.6s;
}
.CS, .IM{
    visibility: hidden;
    cursor: pointer;
    transition-duration: 0.2s; 
}
.CS:hover, .IM:hover{
    transition-duration: 0.2s; 
}
.cls-7{
    transition-duration: 0.6s;
}

.laptop:hover{
    fill: rgb(97, 32, 80);
    cursor: pointer;
    transition-duration: 0.6s;
}
.laptop{
    transition-duration: 0.6s;
}
.headphones:hover{
    fill: #9a4493;
    stroke: #662d91;
    cursor: pointer;
    transition-duration: 0.4s;
}
.headphones{
    transition-duration: 0.4s;
}
.intro-text{
    position: absolute; 
    left: 0; 
    right: 0; 
    top:0; 
    margin-top: 2%;
    margin-left: auto; 
    margin-right: auto; 
    width: 30vw; 
    display: inline-block;
    justify-content: center;
}

.intro-text h4{
    position: absolute;
    color:orange;
    font-family: 400;
    font-size: 2vw;
    transition-duration: 0.6s;
}

.intro-text h5{
    display: none;
    color: orange;
    font-size: 2vw;
    transition-duration: 0.6s;
}

#sare{
    border-radius: 50%; 
    width: 25%; 
    filter: drop-shadow(0 0 50px rgb(247, 247, 188));
}

.overlay-summary2 p{
    font-size: 2.3em;
    font-weight: 600; 
    color: lightblue;
    padding-left: 25%; 
    padding-right: 25%; 
    padding-top:0; 
    padding-bottom: 0;
}

.contact{
    margin-top: 10%
}
.contact ion-icon{
    font-size: 3em; 
    margin-left:2%; 
    margin-right:2%;
    margin-top: 5%s;

}

.adobe{
   padding-top: 21px; 
}
img#adobe{
    margin-top: 20px;
    width: 80px; 
}
.skill img{
    width:100px; 
}

.technical ion-icon{
    font-size:100px;
}

.overlay-summary4 p{
    font-size: 1.5em;
    padding:0;
    padding-top:5%; 
    padding-bottom: 5%;
}

.technical{
    display: flex;
    margin: 0; 
    padding: 0;
    justify-content: center;
}
.technical .skill{
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}
.technical .skill h6{
    font-size: 1em;
}
svg{
    width: 40%;
    right: 30%; 
}

@media screen and (max-width:600px){
    svg{
        width:80%;
        left:10%;
    }
}
/* For Mobile*/
@media screen and (max-width: 600px) and (min-height: 700px)
{
    .mySlides{
        overflow: hidden;
    }
    .numbertext{
        font-size: 10px;
    }
    .slideshow-container{
        margin-top: 40%;
    }
    .text{
        font-size: 0.5em;
    }
    .intro-text{
        margin-top: 20%;
    }
    .button{
        font-size: 10px;
    }
    .dot{
        width: 5px;
        height: 5px;
    }
    .overlay-heading{
        font-size: 15px;
        margin-top: 20%;
    }

    #sare{
        margin-top: 100px; 
        border-radius: 50%; 
        width: 50%; 
        filter: drop-shadow(0 0 50px rgb(247, 247, 188));
    }
    
    .overlay-summary2 p{
        font-size: 1.5em;
        font-weight: 600; 
        color: lightblue;
        padding-left: 15%; 
        padding-right: 15%; 
    }
    .skill img{
        width: 50px; 
    }
    img#adobe{
        width: 50px; 
    }
    .technical ion-icon{
        font-size:50px;
    }
    .overlay-summary4 p{
        font-size: 1em;
        padding:0;
        padding-top:5%; 
        padding-bottom: 5%;
    }
    .intro-text h4 {
        margin-top: 200px;
        font-size: 4vw;
    }
    .intro-text h5{
        margin-top: 200px;
        color: orange;
        font-size: 4vw;
    }
    #overlay{
        font-size: 2em;
    }
    .contact{
        margin-top: 25%;
    }
}

/* for mobile: displays*/
@media screen and (max-width: 1000px) {
    .technical{
        display: block; 
    }
}

/*For iMAC*/

@media screen and (min-width: 5000px) and (min-height: 2000px) {
    .intro-text h4{
        margin-top: 0;
        font-size: 1.7vw;
    }
    .intro-text h5{
        color: orange;
        font-size: 1.7vw;
    }
    svg{
        width: 35%; 
        right: 33%; 
    }

    /* slideshow container */
    .slideshow-container {
        position: relative;
        max-width: 2500px;
        margin: auto;
    }
    .overlay-heading{
        font-size: 50px;
    }
    .github{
        font-size: 10em; 
    }
    #overlay{
        font-size: 10em;
    }
    .overlay-summary p{
        font-size: 3em;
    }
    .technical .skill h6{
        font-size: 2em;
    }
    .overlay-summary2 p{
        margin-top: 5%;
        font-size: 7em;
    }
    #sare{
        width: 20%; 
    }
    .contact{
        margin-top: 5%;
    }
    .contact ion-icon{
        font-size: 10em; 
    }
    .numbertext{
        font-size: 3em;
    }
}